<div *ngIf="artist" class="artist-box">
    <div id="artist-head-card">
        <div class="image">
            <img src="{{url + 'get-image-artist/' + artist.image}}" *ngIf="artist.image && artist.image != 'null'"/>
        </div>
        <div class="data">
            <h1>{{artist.name}}</h1>
            <p class="description">{{artist.description}}</p>
            <a *ngIf="identity.role == 'ROLE_ADMIN'" [routerLink]="['/crear-album', artist._id]" class="btn btn-default">
                Añadir Album
            </a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div id="gallery-albums" *ngIf="albums">
        <!-- Listar los albumes-->
    </div>
</div>