<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenido a MUSIFY!</h1>
      <p class="lead">Empieza a escuchar tus artistas favoritos y descubre nuevos hists</p>
      <hr class="my-4">
      <p>
       C:
      </p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/artistas', 1]" role="button">Ver artistas</a>
    </div>
</div>